@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --headingFont: 'Montserrat';
  --bodyFont: 'Poppins';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #000223
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  font-family: var(--headingFont);
  font-weight: 700;
}

p, span, ol {
  font-family: var(--bodyFont);
}
